{
  "extends": ["@masterborn/eslint-config/frontend", "prettier"],
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
